@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@section scripts {
    <script type="module" src="~/Scripts/custom/login.js"></script>
}

<main class="container d-flex align-content-center">

    <div class="row align-items-center mt-3">
        <div class="col-md-6">
            <img src="~/Content/Images/login.png" class="img-fluid" alt="login" />
        </div>
        <div class="col-md-6 px-5">
            <h2 class="display-4 fw-bold">Welcome Back!</h2>
            <form id="loginForm" class="my-5 needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Ex. johndoe@example.com" required>
                    <div class="invalid-feedback">
                        Please enter your email.
                    </div>
                </div>
                <div class="mb-5">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" placeholder="Ex. xxxx" required>
                        <span class="input-group-text bg-light bg-opacity-10" style="cursor: pointer">
                            <i class="fa-solid fa-eye" id="togglePassword"></i>
                        </span>
                    </div>
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
                <button type="submit" id="login" class="btn btn-primary w-100 mb-4">Login</button>
                <hr />
                @Html.ActionLink("Create a new account", "Index", "Register", null, new { @class = "btn btn-light w-100 mt-4" })
            </form>
        </div>
    </div>
</main>
